<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LensTrade</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <img class="logo" src="/images/sunglasses.png" alt="logo">
        <p id="trade-name">NINER Eye+
        <p>
            <!-- <p>For a clearer view of life !</p> -->
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Signup</a></li>
                </ul>
            </div>
        </nav>
    </header><br>

    <div class="general-nav">

        <div class="general-nav-links">
            <ul>
                <li id="general-nav-font"><a href="index.html">Home</a></li>
                <li><a href="http://localhost:3000/trades/tradeCategories">Trades</a></li>
                <li><a href="newTrade.html">Start Trading</a></li>
            </ul>
        </div>
    </div>

    <div class="content-container">
        <!-- 
       <div id="page-container">
        <div id="content-wrap">
            <nav >
                <ul class="general-nav" >
                    <li><a href="#">Trades</a></li>
                    <li><a href="#">Trades</a></li>
                </ul>
            </nav>

        </div>

        <div class = "content-container">
            <H2>Welcome to Spectacles/Sunglasses Trading </H2><br>
            <p>Get the perfect fit, every time with our wide selection of traded spectacles and goggles.</p>
        </div>


    </div> 
        <section id="main-img">
        </section>

        -->
        <p>
        <h1>
            Welcome to Niner Eye +
        </h1>
        <h2>Welcome to Spectacles/Sunglasses Trading </h2><br>
        <p>Get the perfect fit, every time with our wide selection of traded spectacles and goggles.</p>
        </p>
    </div>



    <footer>
        <ul id="footer">
            <li>
                <a href="#">Niner Lens+</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
        <img class="whatsapp-image" src="images/whatsapp.png" title="whatsapp-image" class="center">
        <img class="twitter-image" src="images/twitter.png" title="twitter-image" class="center">
    </footer>


</body>

</html>