<%- include('./partials/header.ejs')%>

    <div class="content-container">
        <!-- 
       <div id="page-container">
        <div id="content-wrap">
            <nav >
                <ul class="general-nav" >
                    <li><a href="#">Trades</a></li>
                    <li><a href="#">Trades</a></li>
                </ul>
            </nav>

        </div>

        <div class = "content-container">
            <H2>Welcome to Spectacles/Sunglasses Trading </H2><br>
            <p>Get the perfect fit, every time with our wide selection of traded spectacles and goggles.</p>
        </div>


    </div> 
        <section id="main-img">
        </section>

        -->
        <p>
        <h1>
            Welcome to Niner Eye +
        </h1>
        <h2>Welcome to Spectacles/Sunglasses Trading </h2><br>
        <p>Get the perfect fit, every time with our wide selection of traded spectacles and goggles.</p>
        </p>
    </div>

    <%- include('./partials/footer.ejs')%>