@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 590;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;

}

header {
    background: rgb(22, 56, 2);
    background: linear-gradient(90deg, rgba(22, 56, 2, 1) 0%, rgba(169, 221, 53, 1) 77%, rgba(243, 246, 114, 1) 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
    position: sticky;
    height: 100px;
    box-shadow: 2px;
}

.general-nav {
    background: rgb(22, 56, 2);
    background: linear-gradient(90deg, rgb(96, 177, 50) 0%, rgb(140, 155, 110) 77%, rgb(241, 241, 235) 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
    /* position: sticky; */
    height: 50px;
    top: 100px;
    box-shadow: 2px;
}

.logo {
    list-style: none;
    width: 6.5%;
    margin-right: auto;
    z-index: 1;
    backface-visibility: visible;

}

.nav-links {
    list-style: none;
    right: 150px;
    position: absolute;

}

.general-nav-links {
    list-style: none;
    left: 50px;
    position: absolute;
}

.general-nav-links li {
    display: inline-block;
    padding: 0px 5px;
    color: rgb(230, 224, 236);
    /* margin-right: 50px; */
}

#general-nav-font {
    color: rgb(230, 224, 236);
}

.nav-links li {
    display: inline-block;
    padding: 0px 10px;
    margin-right: 50px;
}

/* .nav-links li a{
    transition: all 0.3s ease 0s;
} */

#trade-name {
    position: absolute;
    color: rgb(252, 252, 252);
    font-size: 30px;
    font-weight: 200;
    left: 20%;
    top: 40%;
}

footer {
    position: fixed;
    bottom: 0;
    height: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: white;
    background: rgb(22, 56, 2);
    background: linear-gradient(90deg, rgba(22, 56, 2, 1) 0%, rgba(169, 221, 53, 1) 77%, rgba(243, 246, 114, 1) 100%);


}

#footer {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    width: 100vw;
}

#footer li {
    list-style: none;
    padding: 0 20px;
}

#page-container {
    position: relative;
    min-height: 80vh;
    background-color: rgba(230, 250, 222, 0.938);
}

#page-div {
    background-color: white;
    height: auto;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

.whatsapp-image {
    position: absolute;
    width: 30px;
    right: 400px;

}

.twitter-image {
    position: absolute;
    width: 40px;
    right: 250px;
}


.general-nav li {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    /* color: white; */
    margin-left: 130px;
    padding: 0px 15px;
}

.general-nav {
    /* background-color: lavender; */
    color: white;
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
}

.content-container {
    color: rgb(0, 0, 0);
    padding: 10%;
}

.trades-container {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 20px;
    padding-bottom: 5vw;
}

.trade-container{
    color: rgb(0, 0, 0);
    padding-top: 7%;
    text-align: center;
}


#main-img {
    background-image: url("images/main-img.png");
    position: absolute;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    justify-content: center;
}

.fe-box {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 5%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(153, 8, 8, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-left: 10px;
    margin-right: 10px;
  }

#card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 250px;
    left:70px;
    padding-bottom: 100px;
    padding-left: 20vh;
}

#card-image{
    list-style: none;
    width: 100%;
    margin-right: auto;
    z-index: 1;
    backface-visibility: visible;
}


.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #4CAF50;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .execImg {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 30px;
    width: 400px;
    height: 400px;
  }

  .exec-button-delete{
    position: absolute;
    top: 110%;
    right: 22vh;
    background-color: #4CAF50; /* Set the background color */
    color: white; /* Set the text color */
    border: none; /* Remove the border */
    padding: 10px 20px; /* Set the padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Set the display to inline-block */
    font-size: 16px; /* Set the font size */
    cursor: pointer; /* Set cursor to pointer */
    border-radius: 5px; /* Add rounded corners */
  }

  .exec-button-update{
    position: absolute;
    top: 110%;
    right: 5vh;
    background-color: #4CAF50; /* Set the background color */
    color: white; /* Set the text color */
    border: none; /* Remove the border */
    padding: 10px 20px; /* Set the padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Set the display to inline-block */
    font-size: 16px; /* Set the font size */
    cursor: pointer; /* Set cursor to pointer */
    border-radius: 5px; /* Add rounded corners */
  }

    .exec-button-trade{
    position: absolute;
    top: 110%;
    right: 40vh;
    background-color: #4CAF50; /* Set the background color */
    color: white; /* Set the text color */
    border: none; /* Remove the border */
    padding: 10px 20px; /* Set the padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Set the display to inline-block */
    font-size: 16px; /* Set the font size */
    cursor: pointer; /* Set cursor to pointer */
    border-radius: 5px; /* Add rounded corners */
  }

  .exec-button-watch{
    position: absolute;
    top: 110%;
    left: 40vh;
    background-color: #4CAF50; /* Set the background color */
    color: white; /* Set the text color */
    border: none; /* Remove the border */
    padding: 10px 20px; /* Set the padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Set the display to inline-block */
    font-size: 16px; /* Set the font size */
    cursor: pointer; /* Set cursor to pointer */
    border-radius: 5px; /* Add rounded corners */
  }


  .exec-container{
    position: absolute;
    top: 30vh;
    left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @media only screen and (max-width: 768px) {
    .exec-container {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
  @media only screen and (max-width: 576px) {
    .exec-container {
      left: 10%;
      width: 80%;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .exec-container {
      top: 10%;
    }
  }




  button:hover {
    background-color: #3e8e41;
  }


  .align-top{
    vertical-align: top;
  }
  
  .align-right{
    text-align: right;
  }
  
  .fixed-width{
    width: 300px;
  }

  .success {
    background: rgba(108, 192, 112, 0.7);
    color: #fff;
    width: 70%;
    text-align: center;
    padding: 10px 10px;
  }
  
  .error {
    background: rgba(255, 102, 51, 0.7);
    color: #fff;
    width: 70%;
    text-align: center;
    padding: 10px 10px;
  }

  .trade-card {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #fff;
    border-bottom: none;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .card-body {
    background-color: #fff;
  }
  
  .list-group {
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
  
  .list-group-item {
    border: none;
  }
  
  .card-link {
    color: #333;
    text-decoration: none;
  }
  
  .card-link:hover {
    text-decoration: underline;
  }

  /* trades heading */
.category-heading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  /* trades options */
  .trades-options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .trade-option {
    width: 30%;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  .trade-option:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  
  .option-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .option-description {
    margin-bottom: 30px;
    font-size: 14px;
  }
  
  .btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-primary {
    background-color: #4CAF50;
    border-color: #007bff;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #49914b;
    border-color: #0062cc;
  }
  
  .btn-secondary {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
  }
  
  .btn-secondary:hover {
    background-color: #f4f4f4;
  }


  .category-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .category-item {
    margin-bottom: 8px;
  }
  
  .category-link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  .category-link:hover {
    text-decoration: underline;
  }

  

  .row:after {
    content: "";
    display: table;
    clear: both
  }
  
  .column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
  }
  
  .column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
  }
  
  .large-font {
    font-size: 48px;
  }
  
  .xlarge-font {
    font-size: 35px
  }
  
  .trade-button {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #04AA6D;
  }


  .create-button-container{

    padding-left: 26vh;
  }

  .create-item-button {
    border: none;
    color: white;
    padding: 14px 68px;
    font-size: 16px;
    cursor: pointer;
    background-color: #04AA6D;
  }
  
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  @media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
      width: 100%;
      text-align: center;
    }
    img {
      margin: auto;
    }
  }
  .line-container {
    display: flex;
    justify-content: center;
    
  }
  
  .line {
    width: 200%;
    height: 4px;
    background-color: green;
     /* Adjust the value to add desired white space below the line */
  }

  .profile-font {
    font-size: 20px
  }

  .profile-container{
    position: relative;
    bottom: 5vh;
  }

  #card-container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 38vh;
    left:70px;
    padding-bottom: 100px;
    padding-left: 20vh;
}

#card-container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    /* top: 300px; */
    right:20vh;
    padding-bottom: 100px;
    padding-left: 20vh;
}