
<%- include('../partials/header.ejs')%>
<div class = "content">
    <h2>Welcome, <%=user.firstName%></h2>
    </div>
    HELLLLLLLLLLLLLLLLLLLLLOOO!!!!!!!!!!!
    <%- include('../partials/footer.ejs')%>
