<%- include('../partials/header.ejs')%>
    <div class="content-container">

        <p>
        <h1>
           About Niner Eye +
        </h1>
        <h2>Welcome to Spectacles/Sunglasses Trading </h2><br>
        <p>This platform offers a diverse selection of sunglasses form various brands
            . SO it will attract broader customer base. This company has been bootstrapped
            in UNC Charlotte and is a fully funded startup.
        </p>
        </p>
    </div>




    <%- include('../partials/footer.ejs')%>