<%- include('../partials/header.ejs')%>

    <div class="content-container">

        <p>
        <h1>
           Contact details 
        </h1>
        <h2>Niner EYE + pvt LTD </h2><br>
        <p> Email : sbidwai@uncc.edu</p>
        <p>Address: University City BLVD</p>
        <p>Telephone:9999999</p>
        </p>
    </div>



    <%- include('../partials/footer.ejs')%>