<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LensTrade</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <!--
        <section id="main-img">
        </section>

        -->
    <header>
        <img class="logo" src="/images/sunglasses.png" alt="logo">
        <p id="trade-name">NINER Eye+
        <p>
            <!-- <p>For a clearer view of life !</p> -->
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Signup</a></li>
                </ul>
            </div>

        </nav>
    </header><br>

    <div class="general-nav">

        <div class="general-nav-links">
            <ul>
                <li id="general-nav-font"><a href="index.html">Home</a></li>
                <li><a href="http://localhost:3000/trades/tradeCategories">Trades</a></li>
                <li><a href="newTrade.html">Start Trading</a></li>
            </ul>
        </div>
    </div>

    <div class="trades-container">
        <h2><a href="http://localhost:3000/trades/allItems">Display all Frames and Lenses</a></h2><br>
        <h2>OR</h2><br>

        <ul>
            <li>
                <h2>Types of Frames</h2><br>
                <ul>
                    <% if (categories) {
                        console.log("in trades ejs categories are = ",categories);
                        for(var i = 0; i<categories.length;i++){
                            console.log("in categories = ",categories[i].category);%>
                            <li><a href="http://localhost:3000/trades/tradeCategories/<%= categories[i].category_id%>" > <%= categories[i].category%>  </a></li>
                  
                        <%}
                    } %>

                </ul>
            </li>
            
            <br>
            <li>
                <h2>Types of Lenses</h2> <br>
                <ul>
                    <li><a href="trade.html">Single vision</a></li>
                    <li><a href="trade.html">Progressive</a></li>
                    <li><a href="trade.html">Concave</a></li>
                    <li><a href="trade.html">Cylindrical</a></li>
                </ul>
            </li>
        </ul>
    </div>



    <footer>
        <ul id="footer">
            <li>
                <a href="#">Niner Lens+</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
        <img class="whatsapp-image" src="/images/whatsapp.png" title="whatsapp-image" class="center">
        <img class="twitter-image" src="/images/twitter.png" title="twitter-image" class="center">
    </footer>


</body>

</html>